*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    // background-image: linear-gradient(90deg, #212123 49.75%, #e5e5e5 49.75%, #e5e5e5 50%, #212123 50%, #212123 99.75%, #e5e5e5 99.75%, #e5e5e5 100%);
    // background-size: 402.00px 402.00px;
    position: relative;
    background-color: #212123;
}
.ball{
    border-radius: 50%;
    height: 94px;
    width: 94px;
    background-color: #DB4747;
    position: absolute;
}
ul {
    list-style: none;
}
nav{
    
    position: fixed;
    width:30%;
    transform-origin: 0 0;
    transform: rotate(90deg);
    right: -29%; 
    top: 20%;
    
    ul{
        display: flex;
        flex-direction: row;
        padding: 1rem 0.75rem;
        justify-content: space-around;
    }
    // .l-1{
    //     margin-top: -8rem;
    // }
    // .l-2{
    //     margin-top: -4rem;
    // }
    // .l-3{
    //     margin-top: 0rem;
    // }
    // .l-4{
    //     margin-top: 4rem;
    // }
    ul li{
        position: relative;
    }
    ul li a{
        text-decoration: none;
        z-index: 50;
        color: #ffffff ;
    }
    .active::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 50%;
        bottom: -10%;
        right: 50%;
    }
}
section{
    position: relative;
    margin: 10% auto;
    header {
        h1{ 
            font-family: 'Playfair Display';
            color: #ffffff;
            font-weight: 400;
            line-height: 110%;
            font-size: 6.875rem;
        }
        .section-number{
            position: absolute;
            font-size: 6.25rem;
            color: #ffffff;
            opacity: 20%;
            font-weight: 200;

        }
        .header-pre{
            color: #ffffff;
            line-height: 24px;
        }
    }
    .see-works{
        color:#DB4747;
        text-decoration: none;
        &:hover{
            text-decoration:underline ;
        }
    }
    .main{
        color: #ffffff;
        max-width: 80%;
    }
    
}
.small-line{
    background-color: #ffffff;
    width: 4rem;
    height:1px;
}
.intro{
    max-width: 800px;
    .ball{
        top: 15%;
        right: 40%;
    }
    header {
        .section-number{
            top: -22%;
            left:-12%;
        }
    }
    .see-works{
        margin-right: 1.63rem;
        &:hover{
            text-decoration: underline;
        }
    }
    .cta{
        display: flex;
        align-items: center;
        width: 100%;
        a{
            text-decoration: none;
        }
        .socials-holder{
            margin: 0.75rem 0 0 2rem;
        }
        a img{
            height: 32px;
            width: 32px;
        }
    }
}
.portfolio{
    width: 95vw;
    max-width: 1600px;
    header{
        position: relative;
        width: 75vw;
        margin: 0 auto;
        .section-number{
            top: -20%;
            left: -12%;
        }
    }
    
}
.about-section-container{
display: flex;
}
.about{
    width: 40vw;
    max-width: 500px;
    header{
        position: relative;
        .section-number{
            top: -80%;
        }
    }
    a.see-works{
        width: 32%;
    }
}
.cards-holder{
    width: 50vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}
.card{
    height: 245px;
    width: 245px;
    border-radius: 4px;
    margin-left: 2rem;
    padding: 0.75rem;
    // box-shadow: 9px 9px 5px 2px rgba(0,0,0,0.45);
    box-shadow:0px 2px 8px 6px rgba(0, 0, 0, 0.26);
    .card-header{
        color: #ffffff;
        font-size: 18px;
    }
    .card-points{
        list-style: circle;
        color: #7d7c84;
        margin-left: 1rem;
    }
}
.contact{
    width: 50vw;
    max-width:900px;
    header {
        .section-number{
            top: -20%;
            left:-18%;
        }
    }   
    .main{
        margin-top: 1.5rem;
    }
    .ball{
        top: -2%;
        right: 2%;
    }
}
.form-holder{
    margin-top: 1rem;
    width: 100%;
    .smart-input,.smart-input input,.smart-input label{
        
        height: 3.5rem;
        border-radius: 4px;
    }
    .smart-input{
        margin-bottom: 1rem;
        position: relative;
        color: white;
        input,textarea{
            background-color:#101010;
            width: 100%;
            height: 100%;
            color: white;
            padding-left: 10px;
            border: none;
            
            &:focus + label .label-content,
            &:valid + label .label-content,
            &.filled + label .label-content{
                transform: translate(-10%,-50%) scale(0.8,0.8);
            }
            &:focus{
                outline: 1px solid #DB4747;
            }
        }
        textarea{
            height: 8rem;
            padding: 0.75rem;
            border-radius: 4px;
            &::placeholder{
                font-size: 1rem;
            }
        }
    }
    .smart-input label{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        font-size: 16px;
        color: #7D7C84;
        border-bottom: 1px solid black; 
        padding-top: 10px;
        padding-left: 10px;
            .label-content{
                transition: transform 0.2s ease-in;
                position: absolute;
                top: 25%;
            }
        
    }
   button{
       margin-top: 4rem;
       width: 100%;
       border-radius: 4px;
       background-color: #DB4747;
       border: none;
       height: 2.2rem;
       color: white;
       &:focus{
           box-shadow: 6px 8px 20px black;
           outline: none;
       }
   }
}
footer {
    margin: 0 auto;
    .cta{
        justify-content: space-between;
        .socials-holder{
            display: flex;
            justify-content: space-evenly;
            width: 20%;
        }
    }
    margin-bottom: 2rem;
}
a.see-works{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    color: #DB4747;
    .footer-link-img{
        height: 24px !important;
        width: 24px !important;
    }
}
.project-card{
    width: 95vw;
    max-width: 1200px;
    padding: 1rem 1rem;
    display: flex;
    margin: 2rem auto;
    box-shadow: 6px 6px 24px rgb(19, 19, 19);
    border-radius: 8px;
    .p-image{
        width: 60%;
        max-width: 800px;
        height: 400px;
        object-fit: cover;
        margin-right: 2rem;
        padding: 10px 16px;
        background-color: #DB4747;
        img{
            border-radius: 6px;
            width: 100%;
            height: 100%;
        }
    }
    .p-description{
        width: 40%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .p-about{
            line-height: 1.5rem;
            letter-spacing: 0.1rem;
            font-size: 1.3rem;
        }
    }
    .p-tag{
        padding: 0.5rem;
        border-radius: 10px;
        background-color: #101010;
    }
    .p-header{
        font-size: 1.5rem;
        h2{
            font-family: 'Playfair Display' ;
            letter-spacing: 0.2rem;
        }
    }
    .p-cta{
        height: 4rem;
        a{  display: inline-block;
            padding: 1rem 1.5rem;
            text-decoration: none;
            color: #DB4747;
            background-color: #101010;
            transition: box-shadow 0.1s ease,transform 0.2s ease-in;
            &:hover{
                box-shadow: 4px 4px 25px #4b4b4b;
                transform: translateY(-2px) scale(1.05,1.05);
            }
        }
    }
&.p2 .p-image{
    background-color: #4bffa5;
}
}

